/* STRUCTURE */
.cocktail-card {
  width: 65%;
}

.card-box {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 40px;
  width: 100%;
  font-family: "poppins", sans-serif;
  background-color: #141414;
  border-radius: 5px;
  box-shadow: 5px 5px 80px #7731b080;
  position: relative;
}

/* BUTTON */
#closeRecipe {
  position: absolute;
  content: "X";
  height: 50px;
  width: 50px;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* TITLE */
.cocktail-name {
  font-size: 2.7rem;
  font-family: "Nevrada", "sans-serif";
  text-shadow: 1px 1px 1px #ccba6a;
  color: #7731b0;
  margin-bottom: 40px;
}

/* CARD */
.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-top .ingredients {
  width: 70%;
  padding: 15px;
  color: #e4e4e4;
}

.card-top .ingredients h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #f0e68c;
}

.card-top .card-img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.card-top .card-img img {
  max-width: 100%;
}

.card-bottom {
  border: solid 2px #1aea7e;
  border-radius: 10px;
  height: 250px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.card-bottom h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #f0e68c;
}
.card-bottom p {
  font-size: 0.9rem;
  line-height: 32px;
  color: #e4e4e4;
}
