.card-box {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  padding: 40px;
  width: 50%;
  font-family: "poppins", sans-serif;
  background-color: rgb(224, 88, 174);
}

.cocktail-name {
  font-size: 2.6rem;
  font-weight: 600;
  color: yellow;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-top .ingredients {
  width: 70%;
  padding: 15px;
  background-color: beige;
}

.card-top .ingredients h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.card-top .card-img {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.card-bottom {
  background-color: aliceblue;
  height: 300px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.card-bottom h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.card-bottom p {
  font-size: 0.9rem;
}
