footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-header-footer);
  height: 5rem;
}

footer p {
  color: rgb(186, 186, 186);
  font-family: "Poppins", "sans-serif";
  font-size: 0.8rem;
  line-height: 1.5rem;
}

footer a {
  color: var( --secondary-color);
}
