/* BACKGROUND */
header {
  background-color: var(--background-header-footer);
  box-shadow: 0px 6px 13px -6px #1aea7f8e;
  padding-bottom: 3rem;
}

/* TITLE */
header h1 {
  font-family: "Nevrada", "sans-serif";
  text-shadow: 1px 1px 1px var(--shadow);
  text-transform: uppercase;
  padding-top:2.5rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
}

/* LOGO */
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  margin-bottom: 15px;
  padding-top: 0.5rem;
}
header .logo img {
  width: 80px;
}

/* SIGN UP LOG IN */
.loginMenu {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  z-index: 99;
  border-radius: 5px 5px;
  
}

.loginMenu li button {
  color: var(--secondary-color);
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0px 10px;
  font-size: 1rem;
  cursor: pointer;

}

.loginMenu li button:hover {
  text-decoration: underline;
}

.dropdownLogin {
  position: absolute;
  top: -10;
  right: 0;
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5rem;
  align-items: center;
  z-index: 1;
  margin-top: 40px;
  padding: 15px 0px;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 5px 5px;

}

.dropdownLogin input {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 3px 0px;
  padding: 3px 5px;
}

.dropdownLogin button {
  margin-top: 50px;
  color: var(--secondary-color);
  background-color: Transparent;
  background-repeat: no-repeat;
  padding: 5px;
  font-size: 1.2rem;
}

.dropdownSignup {
  position: absolute;
  top: -10;
  right: 0;
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  align-items: center;
  z-index: 1;
  margin-top: 40px;
  padding: 15px 0px;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 5px 5px;

}

.dropdownSignup input {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 3px 0px;
  padding: 3px 5px;
}

.dropdownSignup button {
  margin-top: 20px;
  color: var(--secondary-color);
  background-color: Transparent;
  background-repeat: no-repeat;
  padding: 5px;
  font-size: 1.2rem;
}

.welcomeMessage {
  color: #7731b0;
  text-shadow: 1px 1px 1px #ccba6a;
  font-size: 1.5rem;
  margin-bottom: 10px;
}


/*BURGER MENU */
.navbar-desktop{
  display: none;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
} 

.navbar-burger {
  width: 100%;
  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.header {
  position: relative;
}

.navbar-burger .nav-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.7rem;
  line-height: 7rem;
}

.navbar-burger .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  top: 25px;
  left: 10px;
  z-index: 9999;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines-mobile  {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav-container .hamburger-lines-mobile .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--border-color);
}

.nav-container .hamburger-lines-mobile .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines-mobile .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines-mobile .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar-burger {
  margin-top: 0;
}

.navbar-burger  .menu-burger {
  padding-top: 20%;
  background-color: #121212;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-container input[type="checkbox"]:checked ~ .menu-burger {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines-mobile .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines-mobile .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines-mobile .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}




@media (min-width: 575.98px) {
  /* LOG IN */
  .loginMenu {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 160px;
    cursor: pointer;
  }
  
  .loginMenu li button {
    color: var(--secondary-color);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0px 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .dropdownSignup {
    position: absolute;

    top: -10;
    right: 0;
    height: auto;
    width: 160px;
    z-index: 1;
    margin-top: 40px;
    padding: 15px 0px;

  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dropdownSignup input {
    width: 80%;
    margin: 3px 0px;
    padding: 3px 5px;
  }
  
  .dropdownSignup button {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2rem;
  }

  .dropdownLogin {
    position: absolute;
    top: -10;
    right: 0;
    height: auto;
    width: 160px;
    z-index: 1;
    margin-top: 40px;
    padding: 15px 0px;
 
  }

  .dropdownLogin input {
    width: 80%;
    margin: 3px 0px;
    padding: 3px 5px;
  }
  
  .dropdownLogin button {
    margin-top: 10px;
 
    padding: 5px;
    font-size: 1.2rem;
  }
  .checkbox {
    display: none;
  }
}

@media (min-width: 767.98px) {
  header #navbar {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 10px;
    width: 95%;
    margin: 0 auto;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-desktop {
    display:block;
  }
  /* LOGO */
  header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--title-color);
    margin-bottom: 15px;
  }
  header .logo img {
    width: 100px;
  }

  /* TITLE */
  header h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    letter-spacing: 1.3px;
    line-height: 2.4rem;
  }
  header h1 span {
    font-size: 2.3rem;
  }

  /* NAVBAR */
  header .menu ul {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid var(--border-color);
    padding: 0px 85px;
  }
  header .menu ul li {
    color: var(--secondary-color);
    list-style: none;
    margin: 0 5px;
    font-size: 1rem;
    padding: 0px;
  }
  header .menu ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    text-align: center;
    display: block;
    padding: 10px 10px;
    line-height: 1rem;
  }
  header .menu ul li a:hover {
    border-top: 3px solid var(--border-color);
    transition: 0.2s;
  }
  header {
    padding-bottom: 1rem;
  }
}




@media (min-width: 991.98px) {
  header {
    padding-bottom: 0px;
  }
}

@media (min-width: 1199.98px) {
  header #navbar {
    margin: 10px 0;
    padding: 15px 10px;
    width: 80%;
    margin: 0 auto;
  }

  /* LOGO */
  header .logo {
    margin-bottom: 30px;
  }
  header .logo img {
    width: 150px;
  }
 
  /* TITLE */
  header h1 {
    font-size: 2rem;
    margin-top: 35px;
    letter-spacing: 1.3px;
    line-height: 2.7rem;
  }
  header h1 span {
    font-size: 2.6rem;
  }
  /* NAVBAR */
  header .menu ul li {
    font-size: 1.2rem;
    margin: 0 5px;
    padding: 0px 15px;
  }
  header .menu ul li a {
    padding: 13px 10px;
    line-height: 1.5rem;
  }
}

