/* FONTS */
@font-face {
    font-family: 'Nevrada';
    src: url('./assets/fonts/AL_Nevrada_Personal_Use_Only.woff2') format('woff2'),
        url('./assets/fonts/AL_Nevrada_Personal_Use_Only.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('./assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

header h1 {
    font-size: 2rem;
    margin-top: 35px;
    text-shadow: 1px 1px 1px #ccba6a;
    letter-spacing: 1px;
    font-family: 'Nevrada', 'sans-serif';
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: 2.7rem;
}

header h1 span {
    font-size: 2.6rem;

}

li a {
    text-decoration: none;
    padding: 5px 10px;
}

header {
    background-color: rgba(146, 146, 146, 0.185);
}
  
header #navbar {
display: flex;
flex-direction: column;
margin: 10px 0;
padding: 15px 10px;
}

header .logo {
display: flex;
align-items: center;
color: #9135dd;
margin-bottom: 30px;
}

header .logo img {
width: 150px;
}

header .menu ul {
display: flex;
justify-content: center;
border-top: 2px solid green;
}

header .menu ul li {
font-size: 1.2rem;
color: #f0e68c;
list-style: none;
margin: 0 30px;
font-family: 'Poppins', 'sans-serif';
}