.slogan p {
  font-size: 1.7rem;
  font-family: "Poppins", "sans-serif";
  color: var(--title-color);
  margin-top: 40px;
}

.ingredients-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top:40px;
}

.ingredient-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid var(--border);
  position: relative;
}

.ingredient-box img {
  height: 55%;
  width: 55%;
}

.anim1 {
  animation: iconAppear 2s ease-out infinite;
}

.anim2 {
  animation: iconAppear 2s ease-out 0.5s infinite;
}

.anim3 {
  animation: iconAppear 2s ease-out 1s infinite;
}

@keyframes iconAppear {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.select-button {
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--black);
  border: 2px solid var(--main-color);
  background-color: var(--selectBtn);
  margin-bottom: 30px;
  padding: 3px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.select-button:hover {
  border: 2px solid var(--selectBtn);
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 50px;
  transition: 0.3s;
}

.full-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  background-color: var(--background-header-footer);
  margin: 0 auto 80px;
  border: 2px solid var(--border);
  border-radius: 6px;
}

.ingredients-list {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.ingredients-list h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  margin-bottom: 20px;
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
}

.box img {
  max-width: 100%;
  margin-bottom: 10px;
  filter: drop-shadow(12px 12px 8px var(--box-shadow));
  transition: 0.3s;
  cursor: pointer;
}

.box p {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: var(--text-color);
}

.box img:hover {
  transform: rotate(-8deg);
  opacity: 0.8;
}

.selected > p {
  color: var(--secondary-color);
  transition: 0.3s;
}

.ingredientButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  max-width: 1200px;
  background-color: var(--background-header-footer);
  margin: 40px auto 80px;
  border: 2px solid var(--border);
  border-radius: 6px;
}

.search-results h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  margin-bottom: 20px;
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.resultBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: var(--background-card);
  padding: 20px;
  margin: 30px 30px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 5px 5px 20px var(--box-shadow);
}

.resultBox img {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.resultBox p {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: var(--text-color);
}

.cocktail-display {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  max-width: 1200px;
  background-color: var(--background-header-footer);
  margin: 40px auto 80px;
  border: 2px solid var(--border);
  border-radius: 6px;
  display: flex;
}

.cocktail-display h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.recipeButton {
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--black);
  border: 2px solid var(--main-color);
  background-color: var(--selectBtn);
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

#resultsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}

#resultsButton p {
  color: var(--secondary-color);
  font-size: 1.5rem;
  background-color: var(--main-color);
  width: 400px;
  height: 35px;
  margin-bottom: 30px;
  padding-top: 5px;
  border-radius: 3px;
}

#resultsButton button {
  margin: auto;
}

.comingSoon {
  color: gray;
}

.back-to-top-box {
  position: fixed;
  bottom: 90px;
  right: 10%;
  display: flex;
  width: 100%;
  justify-content: end;
}

.back-to-top {
  position: relative;
  display: inline-block;
  font-size: 0;
  color: transparent;
  background-image: url(../assets/img/svg/back-to-top.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 20px;
  margin-left: auto;
  transition: .3s;
}

.back-to-top:after {
  position :absolute;
  content: '';
  width: 48px;
  height: 48px;
  left: calc(50% - 28px);
  top: calc(50% - 24px);
  border-radius: 50%;
  border: 2px solid var(--title-color);
  transition: .3s;
  opacity: 0;
}

.back-to-top:hover {
  transform: translateY(-8px);
  transition: .3s;
}

.back-to-top:hover.back-to-top:after {
  opacity: 1;
  transition: .3s;
}


/* smooth scroll back-to-top  */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}