.slogan p {
  font-size: 1.2rem;
  color: var(--title-color);
  margin-top: 30px;
}

.ingredients-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.ingredient-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 3%;
  border-radius: 5px;
  border: 2px solid var(--border);
  position: relative;
}

.ingredient-box img {
  height: 45%;
  width: 45%;
}

.anim1 {
  animation: iconAppear 2s ease-out infinite;
}

.anim2 {
  animation: iconAppear 2s ease-out 0.5s infinite;
}

.anim3 {
  animation: iconAppear 2s ease-out 1s infinite;
}

@keyframes iconAppear {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.select-button {
  font-size: 1.2rem;
  height: 34px;
  color: var(--black);
  border: 2px solid var(--main-color);
  background-color: var(--selectBtn);
  padding: 0px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.select-button:hover {
  border: 2px solid var(--selectBtn);
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 50px;
  transition: 0.3s;
}

.full-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  background-color: var(--background-box);
  margin: 0 auto 30px;
  padding-bottom: 20px;
  border: 2px solid var(--border);
  border-radius: 6px;
}

.ingredients-list {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.ingredients-list h2 {
  width: 100%;
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  margin-bottom: 20px;
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.box {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 10px;
}

.box img {
  max-width: 70%;
  margin-bottom: 5px;
  filter: drop-shadow(12px 12px 8px var(--box-shadow));
  transition: 0.3s;
  cursor: pointer;
}
.box p {
  max-width: 100%;
  word-break: break-word;
  font-size: 0.7rem;
  color: var(--text-color);
}

.selected > p {
  color: var(--secondary-color);
  transition: 0.3s;
}

.ingredientButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  background-color: var(--background-box);
  margin: 40px auto 80px;
  border: 2px solid var(--border);
  border-radius: 6px;
}

.search-results h2 {
  width: 100%;
  font-size: 1.2rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  margin-bottom: 20px;
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.resultBox img {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.resultBox p {
  font-size: 1.1rem;
  color: var(--text-color);
}

.cocktail-display {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  max-width: 1200px;
  background-color: var(--background-header-footer);
  margin: 40px auto 80px;
  border: 2px solid var(--border);
  border-radius: 6px;
  display: flex;
}

.cocktail-display h2 {
  width: 100%;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 6px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.recipeButton {
  font-size: 1.4rem;
  color: var(--black);
  border: 2px solid var(--main-color);
  background-color: var(--selectBtn);
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

#resultsButton {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 300px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

#resultsButton p {
  color: var(--secondary-color);
  font-size: 1.2rem;
  background-color: var(--main-color);
  height: 34px;
  padding: 9px 20px;
  border-radius: 3px;
}

.comingSoon {
  color: gray;
}

.favNoLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 200px;
  background-color: rgba(146, 146, 146, 0.185);
  margin: 80px auto;
  border: 2px solid rgb(150, 145, 119);
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.favLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 200px;
  background-color: rgba(146, 146, 146, 0.185);
  margin: 80px auto;
  border: 2px solid rgb(150, 145, 119);
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 200px;
  background-color: rgba(146, 146, 146, 0.185);
  margin: 80px auto;
  border: 2px solid rgb(150, 145, 119);
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.back-to-top-box {
  position: fixed;
  bottom: 15px;
  right: 5%;
  display: flex;
  width: 100%;
  justify-content: end;
}

.back-to-top {
  position: relative;
  display: inline-block;
  font-size: 0;
  color: transparent;
  background-image: url(../assets/img/svg/back-to-top.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-left: auto;
  transition: 0.3s;
}

/* smooth scroll back-to-top  */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width: 575.98px) {
  .slogan p {
    font-size: 1.3rem;
    margin-top: 40px;
  }

  .ingredients-box {
    justify-content: center;
  }

  .ingredient-box {
    width: 120px;
    height: 120px;
    margin: 20px;
  }

  #resultsButton {
    width: 350px;
    height: 36px;
  }

  .select-button {
    font-size: 1.4rem;
  }

  #resultsButton p {
    font-size: 1.4rem;
    padding: 6px 20px;
  }

  .ingredient-box img {
    height: 55%;
    width: 55%;
  }

  .ingredients-list h2 {
    font-size: 1.7rem;
  }

  .full-box {
    justify-content: center;
  }

  .ingredients-list {
    padding-top: 40px;
  }

  .box {
    margin: 20px 15px;
    width: 20%;
  }
  .box img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .box p {
    font-size: 1rem;
  }

  .search-results h2 {
    font-size: 1.7rem;
  }

  .search-results h2 {
    font-size: 1.4rem;
  }

  .show-cocktails > button {
    font-size: 2rem;
  }

  .search-results .resultBox {
    width: 45%;
    margin: 10px;
    min-height: 340px;
  }
}

@media (min-width: 767.98px) {
  .slogan p {
    font-size: 1.4rem;
    margin-top: 50px;
  }
  .box {
    margin: 9px 28px;
  }
  .box img {
    margin-bottom: 8px;
  }
  .box p {
    font-size: 1.1rem;
  }

  .search-results h2 {
    font-size: 1.4rem;
  }

  .search-results .resultBox {
    width: 30%; 
    min-height: 300px;
  }

  .resultBox {
    width: 30%; 
    min-height: 300px;
  }
}

@media (min-width: 991.98px) {
  .box {
    margin: 15px 15px;
  }

  .back-to-top-box {
    bottom: 25px;
  }
  .back-to-top {
    width: 40px;
    height: 20px;
  }

  .search-results h2 {
    font-size: 2rem;
  }

  .search-results .resultBox {
    min-height: 340px;
  }
}

@media (min-width: 1199.98px) {
  .full-box {
    width: 60%;
    margin: 0 auto 80px;
  }

  .box img:hover {
    transform: rotate(-8deg);
    opacity: 0.8;
  }

  .back-to-top-box {
    bottom: 95px;
    right: 10%;
  }

  .back-to-top:after {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    left: calc(50% - 28px);
    top: calc(50% - 24px);
    border-radius: 50%;
    border: 2px solid var(--title-color);
    transition: 0.3s;
    opacity: 0;
  }

  .back-to-top:hover {
    transform: translateY(-8px);
    transition: 0.3s;
  }

  .back-to-top:hover.back-to-top:after {
    opacity: 1;
    transition: 0.3s;
  }

  .search-results h2 {
    font-size: 1.8rem;
  }

  .search-results .resultBox {
    min-height: 320px;
  }
}
