.card-box {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    padding: 40px;
    width: 50%;
    font-family: "poppins", sans-serif;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 5px 5px 80px #7731b080;
    animation: neon1 1.3s ease-in-out infinite alternate;
  }

  @keyframes neon1 {
  from {
    box-shadow: 0 0 10px #7731b080, 0 0 20px #7731b080,  0 0 30px #7731b080, 0 0 40px #7731b080,
      0 0 70px #7731b080, 0 0 80px #7731b080;
  }
  to {
    box-shadow: 0 0 5px #7731b080, 0 0 10px #7731b080,  0 0 15px #7731b080, 0 0 20px #7731b080,
      0 0 35px #7731b080, 0 0 40px #7731b080;
  }
}
  
  .cocktail-name {
    font-size: 2.1rem;
    font-family: "Nevrada", "sans-serif";
    text-shadow: 1px 1px 1px #ccba6a;
    font-weight: 600; 
    color: #7731b0;
    text-transform: uppercase; 
    word-break: break-word;
    letter-spacing: 4px;
    line-height: 3.5rem;
    margin-bottom: 40px;
  }
  
  .card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .card-top .ingredients {
    /* width: 70%; */
    padding: 0 15px 15px;
    color: #e4e4e4;
  }
  
  .card-top .ingredients h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #f0e68c;
  }
  
  .card-top .card-img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 15px 3px #7a7a7a6b;
  }

  .card-top .card-img img {
    border-radius: 3px;
    max-width: 100%;
  }
  
  .card-bottom {
    background-color: #222222;
    min-height: 250px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 6px;
    border: solid 2px #1aea7fa6;
  }
  
  .card-bottom h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #f0e68c;
  }
  .card-bottom p {
    font-size: 0.9rem;
    line-height: 32px;
    color: #e4e4e4;
  }